:root {
}

.unity-toggle__checkmark {
    width: 40px;
    height: 40px;
}

.dam-service-gate-fragment__right-label, .dam-service-gate-fragment__left-label {
    -unity-text-align: middle-left;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.dam-service-gate-fragment__right-label {
    margin-left: 8px;
}
.dam-service-gate-fragment__left-label {
    margin-right: 8px;
}
.dam-service-gate-fragment__row {
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
}
.dam-service-gate-fragment__toggle-container {
    flex-direction: row;
}

.dam-service-gate-fragment__gate-mode-pass {
    background-image: url("project://database/Assets/Mods/DamServiceGate/AssetBundles/Images/ico-gate-pass.png");
}

.dam-service-gate-fragment__activation-mode-active {
    background-image: url("project://database/Assets/Mods/DamServiceGate/AssetBundles/Images/automation-state-on-large.png");
}
.dam-service-gate-fragment__activation-mode-inactive {
    background-image: url("project://database/Assets/Mods/DamServiceGate/AssetBundles/Images/automation-state-off-large.png");
}
